---
title: "Промо"
tags: ["promo"]
categories: ["promo"]
date: 2014-01-01
lang: "ru"
---
<div class="container-full" style="display: none;">

	<div class="ani-bg" data-0="left:0%;" data-40-center-bottom="left:0%;" data--60-center-bottom="left:-100%;"
	     data-anchor-target="#landing" style="left:0%;margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/landing.jpg"
		     style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:100%;" data-40-center-top="left:100%;" data--60-center-top="left:0%;"
	     data-40-center-bottom="left:0%;" data--60-center-bottom="left:100%;" data-anchor-target="#projecttypes"
	     style="left:100%;margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.3" src="{{basepath}}/assets/img/promo/projecttypes.jpg"
		     style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:-100%;" data-40-center-top="left:-100%;" data--60-center-top="left:0%;"
	     data-40-center-bottom="left:0%;" data--60-center-bottom="left:-100%;" data-anchor-target="#structuredsearch"
	     style="left:-100%;margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/structuredsearch.jpg"
		     style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:100%;" data-40-center-top="left:100%;" data--60-center-top="left:0%;"
	     data-40-center-bottom="left:0%;" data--60-center-bottom="left:100%;" data-anchor-target="#userproperties"
	     style="left:100%;margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/userproperties.jpg"
		     style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:-100%;" data-40-center-top="left:-100%;" data--60-center-top="left:0%;"
	     data-40-center-bottom="left:0%;" data--60-center-bottom="left:-100%;" data-anchor-target="#filecontainer"
	     style="left:-100%;margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/filecontainer.jpg"
		     style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:100%;" data-40-center-top="left:100%;" data--60-center-top="left:0%;"
	     data-40-center-bottom="left:0%;" data--60-center-bottom="left:100%;" data-anchor-target="#reporting"
	     style="left:100%;margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/reporting.jpg"
		     style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:-100%;" data-40-center-top="left:-100%;" data--60-center-top="left:0%;"
	     data-40-center-bottom="left:0%;" data--60-center-bottom="left:-100%;" data-anchor-target="#events"
	     style="left:-100%;margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/events.jpg"
		     style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:100%;" data-40-center-top="left:100%;" data--60-center-top="left:0%;"
	     data-40-center-bottom="left:0%;" data--60-center-bottom="left:100%;" data-anchor-target="#javascript"
	     style="left:100%;margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/javascript.jpg"
		     style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:-100%;" data-40-center-top="left:-100%;" data--60-center-top="left:0%;"
	     data-40-center-bottom="left:0%;" data--60-center-bottom="left:-100%;" data-anchor-target="#enterprise"
	     style="left:-100%;margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.3" src="{{basepath}}/assets/img/promo/enterprise.jpg"
		     style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:100%;" data-40-center-top="left:100%;" data--60-center-top="left:0%;"
	     data-40-center-bottom="left:0%;" data--60-center-bottom="left:100%;" data-anchor-target="#db"
	     style="left:100%;margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.3" src="{{basepath}}/assets/img/promo/db.jpg"
		     style="display: inline-block;"/>
	</div>

	<div class="ani-bg" data-0="left:-100%;" data-40-center-top="left:-100%;" data--60-center-top="left:0%;"
	     data-40-center-bottom="left:0%;" data--60-center-bottom="left:0%;" data-anchor-target="#opinion"
	     style="left:-100%;margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/opinion.jpg"
		     style="display: inline-block;"/>
	</div>

</div>

<div id="skrollr-body" style="overflow:hidden;">

	<div class="container" style="">

		<!-- START THE FEATURETTES -->

		<div class="row featurette">


			<div id="landing" class="col-lg-12 promoblock" data-menu-offset="-100">
				<div class="promobox">
					<h2 class="featurette-heading">Управляйте своими персональными или корпоративными проектами. <span
							class="text-muted">Гибкие инструменты.</span></h2>

					<div class="row">
						<div class="col-md-4 col-sm-6 text-center lead">Структурированный поиск<br/><a
								href="#structuredsearch"><i class="fap fap-hierarchical" style="font-size: 100px;"></i></a>
						</div>
						<div class="col-md-4 col-sm-6 text-center lead">Пользовательские свойства<br/><a
								href="#userproperties"><i class="fa fa-pencil-square-o"
						                                  style="font-size: 100px;"></i></a></div>
						<div class="col-md-4 col-sm-6 text-center lead">Контейнер файлов<br/><a href="#filecontainer"><i
								class="fa fa-paperclip" style="font-size: 100px;"></i></a></div>
						<div class="col-md-4 col-sm-6 text-center lead">Генерация отчетов<br/><a href="#reporting"><i
								class="fa fa-print" style="font-size: 100px;"></i></a></div>

						<div class="col-md-4 col-sm-6 text-center lead">Корпоративная инсталляция<br/><a
								href="#enterprise"><i class="fap fap-cloud" style="font-size: 100px;"></i></a></div>
						<div class="col-md-4 col-sm-6 text-center lead">СУБД на выбор<br/><a href="#db"><i
								class="fap fap-database" style="font-size: 100px;"></i></a></div>
					</div>
				</div>
			</div>

			<div id="projecttypes" class="col-md-7 promoblock" data-menu-offset="-100">
				<div class="promobox">
					<i class="fap fap-structuredway" style="font-size: 100px;float:left;margin-right: 10px;"></i>

					<h2 class="featurette-heading">Различные типы проектов. <span class="text-muted">У каждого свое назначение.</span>
					</h2>

					<p class="lead">Организуйте свои проекты используя широкий диапазон решений от персональных проектов
						управления задачами до
						корпоративных проектов управления взаимоотношениями с клиентами и хранилищ пространственных
						данных. У каждого типа проекта свое назначение и методология, но общие подходы к организации,
						поиску и извлечению данных.</p>

					<div class="row">
						<img class="ani-scr" style="height: 661px;width:1394px;" data-focus-x="0.4"
						     src="{{basepath}}/assets/img/promo/projectlist.png"/>
					</div>
				</div>
			</div>

			<div id="structuredsearch" class="col-md-7 col-md-offset-5 promoblock" data-menu-offset="-100">
				<div class="promobox">
					<i class="fap fap-hierarchical" style="font-size: 100px;float:left;margin-right: 10px;"></i>

					<h2 class="featurette-heading">Структу&shy;рированный поиск. <span
							class="text-muted">Точный ответ!</span></h2>

					<p class="lead">Кроме простого поиска, предназначенного для быстрого получения ответов на типовые
						вопросы, Платформа предоставляет возможность задавать критерии к любому свойству объектной
						модели
						предметной области (Domain Object Model, DOM) с использованием инструментов структурированного
						поиска. Они позволяют задать сложные критерии поиска и быстро получить ответы на нетиповые
						вопросы. Заданные критерии простого, структурированного, разных типов фильтров действуют
						совместно. Для простоты пользования
						предусмотрено сохранение и восстановление критериев поиска.</p>

					<div class="row">
						<img class="ani-scr" style="height: 1138px;width:1394px;" data-focus-x="0.78"
						     src="{{basepath}}/assets/img/promo/complexfilter.png"/>
					</div>
				</div>
			</div>

			<div id="userproperties" class="col-md-7 promoblock" data-menu-offset="-100">
				<div class="promobox">
					<i class="fa fa-pencil-square-o" style="font-size: 100px;float:left;margin-right: 10px;"></i>

					<h2 class="featurette-heading">Пользо&shy;вательские свойства в каждой записи. <span
							class="text-muted">Добавь чего не хватает.</span>
					</h2>

					<p class="lead">Для каждой целевой записи заранее определен перечень свойств, являющийся предметом
						учета согласно заложенной в этот тип проекта методологии. Дополнительно предоставляется
						возможность определить значения пользовательских свойств. Эти значения могут быть использованы в
						инструменте поиска по пользовательским свойствам совместно с простым и структурированным
						поиском.</p>
				</div>
			</div>

			<div id="filecontainer" class="col-md-7 col-md-offset-5 promoblock" data-menu-offset="-100">
				<div class="promobox">
					<i class="fa fa-paperclip" style="font-size: 100px;float:left;margin-right: 10px;"></i>

					<h2 class="featurette-heading">Контейнер файлов в каждой записи. <span class="text-muted">Организуй файловые ресурсы.</span>
					</h2>

					<p class="lead">Закачай файлы в контейнер файлов любой записи. Подключи сетевой диск с контейнерами
						файлов по протоколу webdav. Доступ регламентируется в соответствии с действующей бизнес-логикой
						проекта.</p>
				</div>
			</div>

			<div id="reporting" class="col-md-7 promoblock" data-menu-offset="-100">
				<div class="promobox">
					<i class="fa fa-print" style="font-size: 100px;float:left;margin-right: 10px;"></i>

					<h2 class="featurette-heading">Генерация отчетов. <span class="text-muted">Асинхронно и распределенно.</span>
					</h2>

					<p class="lead">Генерируйте отчеты по данным из выборки в распространненных форматах табличных
						процессоров. При генерации отчета пользователю показывается прогресс или номер в очереди,
						позволяя прогнозировать время получения отчета. Каждый генератор отчетов имеет свою стратегию
						выбора задания.</p>
				</div>
			</div>


			<div id="events" class="col-md-7 col-md-offset-5 promoblock" data-menu-offset="-200">
				<div class="promobox">
					<i class="fa fa-envelope" style="font-size: 100px;float:left;margin-right: 10px;"></i>

					<h2 class="featurette-heading">События. <span class="text-muted">Подписывайся на события и получай уведомления.</span>
					</h2>

					<p class="lead">В каждом типе проекта определен список важных для пользователя событий. Как правило
						это события создания, удаления или модификации данных. Пользователь имеет возможность выбрать
						перечень событий и с помощью фильтров задать выборку записей, события в которых иму
						интересны.</p>
				</div>
			</div>


			<div id="javascript" class="col-md-7 promoblock" data-menu-offset="-100">
				<div class="promobox">
					<i class="fa fa-cogs" style="font-size: 100px;float:left;margin-right: 10px;"></i>

					<h2 class="featurette-heading">Встраивайте приложение на свои страницы. <span class="text-muted">Все что нужно - подключить javascript.</span>
					</h2>

					<p class="lead">Клиентская часть Системы - это набор браузерных javascript-приложений, использующих
						компоненты Платформы. Они легко встраиваются на Вашу веб-станицу простым подключением
						javascript-файла. Основной программный интерфейс сервера Системы - JSON API.</p>
				</div>
			</div>

			<div id="enterprise" class="col-md-7 col-md-offset-5 promoblock" data-menu-offset="-100">
				<div class="promobox">
					<i class="fap fap-cloud" style="font-size: 100px;float:left;margin-right: 10px;"></i>

					<h2 class="featurette-heading">Инсталлируйте Платформу в своих приватных или корпоративных
						вычислительных облаках. <span class="text-muted">Ведите проекты приватно.</span></h2>

					<p class="lead">Инсталлируйте компоненты Платформы на своем оборудовании в приватных или публичных
						вычислительных облаках.</p>
				</div>
			</div>

			<div id="db" class="col-md-7 promoblock" data-menu-offset="-200">
				<div class="promobox">
					<i class="fap fap-database" style="font-size: 100px;float:left;margin-right: 10px;"></i>

					<h2 class="featurette-heading">Храните проекты в той базе данных, которая вам нравится. <span
							class="text-muted">Поддерживаем ключевые базы данных.</span></h2>

					<p class="lead">Каждый проект хранится в своей базе данных, тип базы данных определяется при
						создании проекта исходя из квот и доступных серверов баз данных. Поддерживаются все ключевые
						СУБД: Oracle (9i, 10g, 11g), SQL Server (2000, 2005, 2008, Express), DB2, Firebird, Informix,
						MySQL, PostgreSQL</p>
				</div>
			</div>

			<div id="opinion" class="col-md-12 promoblock" style="margin-bottom: 100px;" data-menu-offset="-100">
				<div class="promobox">
					<i class="fap fap-structuredway"
					   style="color:#428bca;;font-size: 150px;float:left;text-shadow: 2px 2px 2px #000;"></i>

					<h2 class="featurette-heading">Посмотрите <a href="{{basepath}}/demo/">демо-версию</a> прямо сейчас.
						<span class="text-muted"><a href="mailto:info@structuredway.com">Напишите</a> нам о своем опыте.</span>
					</h2>

					<p class="lead">Мы будем рады Вашем замечаниям и предложениям.</p>
				</div>
			</div>


		</div>
	</div>

</div>