{{#extend "masterpage"}}
	{{#content "container"}}

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						{{title}}

						<div id="fb-root"></div>
						<script>(function (d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s);
							js.id = id;
							js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=235693506469777";
							fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>

						<div class="pull-left" style="width:300px;">
							https://developers.facebook.com/docs/plugins/like-box-for-pages/
							<div class="fb-like-box" data-href="http://www.facebook.com/FacebookDevelopers"
							     data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false"
							     data-show-border="true"></div>

						</div>


						<div class="pull-right" style="width:300px;">
							<a class="twitter-timeline" href="https://twitter.com/OlegSmithSOA"
							   data-widget-id="423215837172875265">Tweets by @OlegSmithSOA</a>
							<script>!function (d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
								if (!d.getElementById(id)) {
									js = d.createElement(s);
									js.id = id;
									js.src = p + "://platform.twitter.com/widgets.js";
									fjs.parentNode.insertBefore(js, fjs);
								}
							}(document, "script", "twitter-wjs");</script>
						</div>


					</div>
				</div>
			</div>
		</div>

		{{#allcategories}}
			{{#is category "blogs"}}

				{{#filterAndSortPages pages ../../../period_start ../../../period_end ../../../../index_start ../../../../index_end ../../../../select_tag}}

					{{#any this}}

						{{#each this}}

							<div class="section {{odd @index "" "section-colored"}}">
								<div class="container">
									<div class="row">
										<div class="col-lg-12">

											<!-- blog entry -->
											<div class="row">
												<div class="col-lg-12">
													<h5 class="pull-right"><span
															class="glyphicon glyphicon-time"></span> Posted
														by {{author}} on {{formatDate date  "%F %I:%M%p" }}</h5>

													<h1 class="pull-left"><a
															href="/{{path}}/{{basename}}.html">{{title}}</a></h1>
												</div>
											</div>



											{{renderpage this}}

											<br>

											{{#each tags}}

												<a href="/tags/{{this}}.html"> <span
														class="label label-default"> {{this }}</span></a>

											{{/each }}

										</div>


									</div>
									<!-- blog entry end -->

								</div>
								<!-- /container -->

							</div><!-- /section -->

						{{/each}}


					{{else}}

						No records

					{{/any}}

				{{/filterAndSortPages}}
			{{/is}}
		{{/allcategories}}

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						{{#isdefined previous}}
							<a href="/{{path}}/{{previous}}.html"> <span class="label label-default">Previous</span></a>
						{{/isdefined}}
						{{#isdefined next}}
							<a href="/{{path}}/{{next}}.html"> <span class="label label-default">Next</span></a>
						{{/isdefined}}
					</div>
				</div>
			</div>
		</div>


	{{/content}}
{{/extend}}
