---
title: "Promo"
author: "Oleg Smith"
tags: ["abc","def"]
categories: ["promo"]
date: 2014-01-01
lang: "en"
---
<div class="container-full" style="display: none;">

	<div class="ani-bg" data-0="left:0%;" data-40-center-bottom="left:0%;" data--60-center-bottom="left:-100%;"
	     data-anchor-target="#landing" style="margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/landing.jpg"
		     style="display: inline-block;"/>
	</div>

	<!--<div class="ani-bg" data-0="left:100%;" data-40-center-top="left:100%;" data--60-center-top="left:0%;"-->
	     <!--data-40-center-bottom="left:0%;" data--60-center-bottom="left:100%;" data-anchor-target="#projecttypes"-->
	     <!--style="margin-top:0px;position: fixed;overflow: hidden;">-->
		<!--<img class="ani-pic" data-focus="0.3" src="{{basepath}}/assets/img/promo/projecttypes.jpg"-->
		     <!--style="display: inline-block;"/>-->
	<!--</div>-->

	<!--<div class="ani-bg" data-0="left:-100%;" data-40-center-top="left:-100%;" data--60-center-top="left:0%;"-->
	     <!--data-40-center-bottom="left:0%;" data--60-center-bottom="left:-100%;" data-anchor-target="#structuredsearch"-->
	     <!--style="margin-top:0px;position: fixed;overflow: hidden;">-->
		<!--<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/structuredsearch.jpg"-->
		     <!--style="display: inline-block;"/>-->
	<!--</div>-->

	<!--<div class="ani-bg" data-0="left:100%;" data-40-center-top="left:100%;" data--60-center-top="left:0%;"-->
	     <!--data-40-center-bottom="left:0%;" data--60-center-bottom="left:100%;" data-anchor-target="#userproperties"-->
	     <!--style="margin-top:0px;position: fixed;overflow: hidden;">-->
		<!--<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/userproperties.jpg"-->
		     <!--style="display: inline-block;"/>-->
	<!--</div>-->

	<!--<div class="ani-bg" data-0="left:-100%;" data-40-center-top="left:-100%;" data--60-center-top="left:0%;"-->
	     <!--data-40-center-bottom="left:0%;" data--60-center-bottom="left:-100%;" data-anchor-target="#filecontainer"-->
	     <!--style="margin-top:0px;position: fixed;overflow: hidden;">-->
		<!--<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/filecontainer.jpg"-->
		     <!--style="display: inline-block;"/>-->
	<!--</div>-->

	<!--<div class="ani-bg" data-0="left:100%;" data-40-center-top="left:100%;" data--60-center-top="left:0%;"-->
	     <!--data-40-center-bottom="left:0%;" data--60-center-bottom="left:100%;" data-anchor-target="#reporting"-->
	     <!--style="margin-top:0px;position: fixed;overflow: hidden;">-->
		<!--<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/reporting.jpg"-->
		     <!--style="display: inline-block;"/>-->
	<!--</div>-->

	<!--<div class="ani-bg" data-0="left:-100%;" data-40-center-top="left:-100%;" data--60-center-top="left:0%;"-->
	     <!--data-40-center-bottom="left:0%;" data--60-center-bottom="left:-100%;" data-anchor-target="#events"-->
	     <!--style="margin-top:0px;position: fixed;overflow: hidden;">-->
		<!--<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/events.jpg"-->
		     <!--style="display: inline-block;"/>-->
	<!--</div>-->

	<!--<div class="ani-bg" data-0="left:100%;" data-40-center-top="left:100%;" data--60-center-top="left:0%;"-->
	     <!--data-40-center-bottom="left:0%;" data--60-center-bottom="left:100%;" data-anchor-target="#javascript"-->
	     <!--style="margin-top:0px;position: fixed;overflow: hidden;">-->
		<!--<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/javascript.jpg"-->
		     <!--style="display: inline-block;"/>-->
	<!--</div>-->

	<!--<div class="ani-bg" data-0="left:-100%;" data-40-center-top="left:-100%;" data--60-center-top="left:0%;"-->
	     <!--data-40-center-bottom="left:0%;" data--60-center-bottom="left:-100%;" data-anchor-target="#enterprise"-->
	     <!--style="margin-top:0px;position: fixed;overflow: hidden;">-->
		<!--<img class="ani-pic" data-focus="0.3" src="{{basepath}}/assets/img/promo/enterprise.jpg"-->
		     <!--style="display: inline-block;"/>-->
	<!--</div>-->

	<!--<div class="ani-bg" data-0="left:100%;" data-40-center-top="left:100%;" data--60-center-top="left:0%;"-->
	     <!--data-40-center-bottom="left:0%;" data--60-center-bottom="left:100%;" data-anchor-target="#db"-->
	     <!--style="margin-top:0px;position: fixed;overflow: hidden;">-->
		<!--<img class="ani-pic" data-focus="0.3" src="{{basepath}}/assets/img/promo/db.jpg"-->
		     <!--style="display: inline-block;"/>-->
	<!--</div>-->

	<div class="ani-bg" data-0="left:100%;" data-40-center-top="left:100%;" data--60-center-top="left:0%;"
	     data-40-center-bottom="left:0%;" data--60-center-bottom="left:0%;" data-anchor-target="#opinion"
	     style="margin-top:0px;position: fixed;overflow: hidden;">
		<img class="ani-pic" data-focus="0.5" src="{{basepath}}/assets/img/promo/opinion.jpg"
		     style="display: inline-block;"/>
	</div>

</div>

<div id="skrollr-body" style="overflow:hidden;">

	<div class="container" style="">

		<!-- START THE FEATURETTES -->

		<div class="row featurette">


			<div id="landing" class="col-lg-12 promoblock" style="">
				<div class="promobox">
					<h2 class="featurette-heading">Manage your personal or enterprise projects. <span
							class="text-muted">Simple access. Agile tools.</span></h2>

					<div class="row">
						<div class="col-md-4 col-sm-6 text-center lead">Structured search<br/><i
								class="fap fap-hierarchical" style="font-size: 100px;"></i></div>
						<div class="col-md-4 col-sm-6 text-center lead">User defined properties<br/><i
								class="fa fa-pencil-square-o" style="font-size: 100px;"></i></div>
						<div class="col-md-4 col-sm-6 text-center lead">File container for each record<br/><i
								class="fa fa-paperclip" style="font-size: 100px;"></i></div>
						<div class="col-md-4 col-sm-6 text-center lead">Report generation<br/><i class="fa fa-print"
						                                                                         style="font-size: 100px;"></i>
						</div>

						<div class="col-md-4 col-sm-6 text-center lead">Enterprise install<br/><i class="fap fap-cloud"
						                                                                          style="font-size: 100px;"></i>
						</div>
						<div class="col-md-4 col-sm-6 text-center lead">Any DB<br/><i class="fap fap-database"
						                                                              style="font-size: 100px;"></i>
						</div>
					</div>
				</div>
			</div>

			<div id="opinion" class="col-md-12 promoblock" style="margin-bottom: 100px;">
				<div class="promobox">
					<i class="fap fap-structuredway"
					   style="color:#428bca;;font-size: 150px;float:left;text-shadow: 2px 2px 2px #000;"></i>

					<h2 class="featurette-heading">Try <a href="{{basepath}}/demo/">demo</a> right now.
						<span class="text-muted">Please let <a href="mailto:info@structuredway.com">us</a> know if You are interested.</span>
					</h2>
				</div>
			</div>

		</div>
	</div>

</div>